<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <servlet>
    <servlet-name>Wfs-Servlet</servlet-name>
    <servlet-class>de.turnertech.thw.cop.ows.WfsServlet</servlet-class>
    <init-param>
      <param-name>ows.context.factory.class</param-name>
      <param-value>de.turnertech.thw.cop.BoscopOwsContextFactory</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>Error-Servlet</servlet-name>
    <servlet-class>de.turnertech.thw.cop.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Wfs-Servlet</servlet-name>
    <url-pattern>/ows</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Error-Servlet</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
  <error-page>
    <location>/error</location>
  </error-page>
</web-app>