@import "/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
}
#headerMenu {
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: blue;
}

#typeSelect {
  width: 200px;
}

#hazardSelect {
  width: 200px;
}

#insert {
  width: 75px;
}

#insertHazard {
  width: 75px;
}