@import "../ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #007ACB;
  height: 40px;
  order: 5;
  padding: 3px;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.144);
  position: relative;
}

main {
  order: 50;
  height: 100%;
}

footer {
  background-color: #007ACB;
  height: 50px;
  order: 99;
}

#map {
  width: 100%;
  height: 100%;
  order: 20;
}

#headerMenu {
  background-color: #4091c7;
  vertical-align: middle;
  padding: 5px;
  order: 10;
}

.input-group {
  margin: 3px;
}

.input-group-text {
  width: 75px;
}

#typeSelect {
  width: 200px;
}

#hazardSelect {
  width: 200px;
}

#unitSelect {
  width: 200px;
}

#delete {
  margin: 3px;
}

#addLine {
  margin: 3px;
}

#insertHazard {
  width: 75px;
}

#tracker-table {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}


nav li {
  display: inline-block;
  margin-right: 20px;
  text-align: center;
}

nav li a {
  font-family: Calibri;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

nav ul li .active {
  color: #fd7e7e;
  font-weight: bold;
  text-decoration: underline;
}
